@media only screen and (min-width: 1200px) {
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  body {
    display: flex;
  }

  .container {
    max-width: 90%;
  }
  .containerAccount {
    display: flex;
    height: 100%;
    width: 100%;
  }
  .ant-layout-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #6cf;
  }

  .ant-layout {
    height: 100%;
  }
  .ant-layout-content {
    height: 100%;
    background-color: white;
  }
  #root {
    width: 100%;
    height: 100%;
  }

  #loginform {
    width: 480px;
    background-color: white;
    padding: 24px;
    border-radius: 24px;
    border: 1px solid black;
    box-sizing: border-box;
    height: 90%;
    margin: auto;
  }
  #headerTitle {
    text-align: center;
    font-family: 'open sans', sans-serif;
    padding: 1rem;
    margin: 0;
    font-size: 2rem;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    max-width: 100%;
    margin: 0 !important;
  }

  .row input {
    width: 80%;
    box-sizing: border-box;
    border: none;
    font-size: 1.3rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
    transition: box-shadow 0.2s ease-in;
  }

  .row input:focus {
    box-shadow: inset 0px -3px 0px 0px rgba(34, 193, 195, 0.7);
    outline: none;
  }

  .row input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.25s ease-out;
  }

  .row input:hover::-webkit-input-placeholder,
  .row input:focus::-webkit-input-placeholder {
    opacity: 0;
  }

  .row label {
    align-self: start;
    padding-left: 4.5rem;
    padding-bottom: 0.5rem;
    color: rgba(187, 187, 187, 0.9);
  }
  .row button {
    border-radius: 25px;
    width: 80%;
    height: 56px;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;

    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
  }
  .default {
    background-color: grey;
    width: 100%;
    height: 100%;
  }

  #header {
    background-color: #29354a;
    padding: 0;
  }
  .logo {
    width: 125px;
    height: 125px;
  }

  .row a {
    width: 80%;
    box-sizing: border-box;
    border: none;
    font-size: 1.3rem;
    padding-top: 0.75rem;
  }
  hr {
    height: 2px !important;
    width: 75%;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
  }
  .loginAlt {
    height: auto;
    width: 150px;
    font-size: 100px;
  }
  .column {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }
  .loginAlt:hover {
    cursor: pointer;
    transform: rotate(360deg);
    transition: all 1s ease-in-out;
  }
  .divNews {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
  }
  .item-news {
    color: blue;
    padding-top: 0;
    font-style: italic;
    width: 100% !important;
  }
  .row p {
    margin: 0;
  }
  .gotoRegister {
    width: 100% !important;
  }
  .ant-btn:hover {
    opacity: 80%;
    background-color: rgb(245, 245, 181);
    color: blue;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  .container {
    max-width: 90%;
  }
  #root {
    height: 100%;
    width: 100%;
  }
  body {
    display: flex;
  }

  .ant-layout-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #6cf;
  }

  .ant-layout {
    height: 100%;
  }
  .ant-layout-content {
    height: 100%;
    background-color: white;
  }

  #loginform {
    padding: 24px;
    margin: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: white;
  }
  #headerTitle {
    text-align: center;
    font-family: 'open sans', sans-serif;
    padding: 1rem;
    margin: 0;
    font-size: 2rem;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    max-width: 100%;
    margin: 0 !important;
  }

  .row input {
    width: 80%;
    box-sizing: border-box;
    border: none;
    font-size: 1.3rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
    transition: box-shadow 0.2s ease-in;
  }

  .row input:focus {
    box-shadow: inset 0px -3px 0px 0px rgba(34, 193, 195, 0.7);
    outline: none;
  }

  .row input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.25s ease-out;
  }

  .row input:hover::-webkit-input-placeholder,
  .row input:focus::-webkit-input-placeholder {
    opacity: 0;
  }

  .row label {
    align-self: start;
    padding-left: 4.5rem;
    padding-bottom: 0.5rem;
    color: rgba(187, 187, 187, 0.9);
  }
  .row button {
    border-radius: 25px;
    width: 80%;
    height: 56px;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;

    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
  }
  .default {
    background-color: grey;
    width: 100%;
    height: 100%;
  }

  #header {
    background-color: #29354a;
    padding: 0;
  }
  .logo {
    width: 125px;
    height: 125px;
  }

  .row a {
    width: 80%;
    box-sizing: border-box;
    border: none;
    font-size: 1.3rem;
    padding-top: 0.75rem;
  }
  hr {
    height: 2px !important;
    width: 75%;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
  }
  .loginAlt {
    height: auto;
    width: 320px;
    font-size: 100px;
  }
  .column {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }
  .loginAlt:hover {
    cursor: pointer;
    transform: rotate(360deg);
    transition: all 1s ease-in-out;
  }
  .divNews {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
  }
  .item-news {
    color: blue;
    padding-top: 0;
    font-style: italic;
    width: 100% !important;
  }
  .row p {
    margin: 0;
  }
  .gotoRegister {
    width: 100% !important;
  }
  .ant-btn:hover {
    background-color: red;
    color: white;
  }
}
@media only screen and (max-width: 767px) {
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  body,
  body {
    display: flex;
  }

  .ant-layout-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #6cf;
  }

  .ant-layout {
    height: 100%;
  }
  .ant-layout-content {
    height: 100%;
    background-color: white;
  }
  #root {
    width: 100%;
    height: 100%;
  }

  #loginform {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 32px;
    margin: auto;
    box-sizing: border-box;
  }
  #headerTitle {
    text-align: center;
    font-family: 'open sans', sans-serif;
    padding: 1rem;
    margin: 0;
    font-size: 2rem;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    max-width: 100%;
    margin: 0 !important;
  }

  .row input {
    width: 80%;
    box-sizing: border-box;
    border: none;
    font-size: 1.3rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
    transition: box-shadow 0.2s ease-in;
  }

  .row input:focus {
    box-shadow: inset 0px -3px 0px 0px rgba(34, 193, 195, 0.7);
    outline: none;
  }

  .row input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.25s ease-out;
  }

  .row input:hover::-webkit-input-placeholder,
  .row input:focus::-webkit-input-placeholder {
    opacity: 0;
  }

  .row label {
    align-self: start;
    padding-left: 4.5rem;
    padding-bottom: 0.5rem;
    color: rgba(187, 187, 187, 0.9);
  }
  .row button {
    border-radius: 25px;
    width: 80%;
    height: 56px;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;

    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
  }
  .default {
    background-color: grey;
    width: 100%;
    height: 100%;
  }

  #header {
    background-color: #29354a;
    padding: 0;
  }
  .logo {
    width: 125px;
    height: 125px;
  }

  .container {
    max-width: 90%;
  }

  .row a {
    width: 80%;
    box-sizing: border-box;
    border: none;
    font-size: 1.3rem;
    padding-top: 0.75rem;
  }
  hr {
    height: 2px !important;
    width: 75%;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
  }
  .loginAlt {
    height: auto;
    width: 160px;
    font-size: 100px;
  }
  .column {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }
  .loginAlt:hover {
    cursor: pointer;
    transform: rotate(360deg);
    transition: all 1s ease-in-out;
  }
  .divNews {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
  }
  .item-news {
    color: blue;
    padding-top: 0;
    font-style: italic;
    width: 100% !important;
  }
  .row p {
    margin: 0;
  }
  .gotoRegister {
    width: 100% !important;
  }
  .ant-btn:hover {
    background-color: red;
    color: white;
  }
}
.ant-layout-header {
  overflow: hidden;
  height: 5.625rem;
}
.logo {
  width: 5.625rem;
  height: 5.625rem;
}
#containerNavbar,
.navbar {
  height: 5.625rem;
}
.ant-layout-content {
  box-sizing: border-box;
}
.ant-layout-sider {
  background-color: lightgray;
}
